<!DOCTYPE html>
<html lang="en-us">

  {% include head.html %}

  <body class="{{ page.layout }}{% if page.url == '/' %} home{% endif %}">

	<div id="sidebar">
	  <header>
		<div class="book--gcs-logo"><a href="/">{% include svg/gcs_logo.svg %}</a></div>

		<div class="book-title">Design As It Is Practiced</div>
		<ul>
			<li><a href="/book/introduction">Introduction</a></li>
		</ul>
		<div class="chapters">Chapters</div>
		<ul>
			<li><a href="/book/art">Art</a></li>
			<li><a href="/book/typography">Typography</a></li>
			<li><a href="/book/color">Color</a></li>
			<li><a href="/book/graphic-design">Graphic Design</a></li>
			<li><a href="/book/product-design">Product Design</a></li>
			<li><a href="/book/design-management">Design Management</a></li>
			<li><a href="/book/web-design">Web Design</a></li>
			<li><a href="/book/development">Development</a></li>
			<li><a href="/book/writing">Writing</a></li>
			<li><a href="/book/tools">Tools</a></li>
		</ul>

		<div class="sidebar-border"></div>
	  </header>
	</div>

    <main class="container">
    	<div class="book-content">
			<h1>{{ page.title }}</h1>
			{{ content }}
	    </div>
    </main>

    {% include custom-foot.html %}
  </body>
</html>