---
layout: default
---

<div class="about-info">
  <span>Brooklyn, New York</span><br>
  <span><a href="https:/twitter.com/goldcardsoul">@goldcardsoul</a></span>
</div>

<div class="content">
  <h1 class="blog-title">Design As It Is Practiced</h1>

  {% include pagination-newer.html %}

  {{ content }}

  {% for post in paginator.posts %}
  <article class="post-body">
    <h2 class="post-title">
      <a href="{{ site.baseurl }}{{ post.url }}">
        {{ post.title }}
      </a>
    </h2>
    {% include post-meta.html post=post %}

      {{ post.content }}

  </article>
  {% endfor %}

  {% include pagination-older.html %}
</div>